<div style="position: relative;top:200px;background-color:#05265B ;height: 200px;">
    <img src="../../assets/images/gkl.png" style="margin-top:20px;width:100px;height: 70px;margin-left: 20px;">


<h1 style="margin-left: 120px;font-size:20px;color:white;position:relative;bottom:78px;">Kaveri Online Services</h1>
<p style="margin-left: 120px;font-size:10px;color:white;position:relative;bottom:75px;">Department of Stamps and Registration,Government of Karnataka</p>

<div style="margin-left: 650px;position:relative;bottom:130px;">
    <h1 style="font-size: 20px;color:white;">Follow us</h1>
    <img src="../../assets/images/Group 153.png"style="margin-left:-40px;">
    <img src="../../assets/images/Group 154.png"style="margin-left:10px;">
    <img src="../../assets/images/Group 155.png" style="margin-left:10px;">
    <img src="../../assets/images/Group 156.png" style="margin-left:10px;">
</div>
<div style="margin-left: 900px;position:relative;bottom:220px;">
    <h1 style="font-size:20px;color:white;">Contact us</h1>
    <p style="color:white;">8th floor, Kandaya Bhavan,<br>
         K.G. Road, Bengaluru-560009 <br>
         <br>Ph. No. 080-22220979</p>
         <p style="color:white;margin-left: 220px;position:relative;bottom:100px;">sd1.igro@karnataka.gov.in <br>
            sd2.igro@karnataka.gov.in <br>
            sd3.igro@karnataka.gov.in <br>
            sd4.igro@karnataka.gov.in</p>
</div>

</div>
<h1 style="position:relative;top:170px;background-color: grey;font-size: 20px;">



    Accessibility Statement | Terms & Conditions | Website Policies | Help | Feedback | Contact Us | Web Information Manager | FAQ | Sitemap | Visitors Analytics
 
</h1>
<br>

 <p style="position:relative;top:170px;font-size: 20px;margin-left: 30px;" >©2021, Department of Stamps and Registration, Karnataka</p> 