 <!-- <div style="border: 2px solid white;position:relative;margin-bottom: 10px;"> -->
 <div style="margin-left: 140px;margin-right:140px;background-color:darkblue ;bottom:10px;height:40px;
 " > 
     <p style="color:white;position:relative;top:10px;">create Account</p>

  <img src="../../assets/images/close (1).png" style="margin-left: 1200px;position:relative;bottom:15px;">
</div>

<div style="float: left;margin-left: 160px">
  <label for="FirstName*" style="margin-top: 20px;">FirstName*</label><br>
  <input type ="text"  size="35" placeholder="value">
 
</div>
    
    <div style="float:left;margin-left: 130px;">
        <label for="middlename" style="margin-top: 20px;">MiddleName</label><br>
        <input type ="text" size="35" placeholder="value">
      </div>
      
       
    <div style="float:left;margin-left: 210px;">
        <label for="lastname" style="margin-top: 20px;">LastName</label><br>
        <input type ="text" size="35" placeholder="value">
      </div>
      <br>
      <br>
       
    <div style="float:left;margin-left: 160px;">
        <label for="gender" style="margin-top: 20px;">Gender*</label><br>
        <input type ="text" size="35" placeholder="value">
      </div> 
       
    <div style="float:left;margin-left: 130px;">
        <label for="emailid" style="margin-top: 20px;">EmailId*</label><br>
        <input type ="text" size="35" placeholder="value">
      </div> 
      
      <div style="float:left;margin-left: 210px;">
        <label for="Mobilenumber" style="margin-top: 20px;">MobileNumber*</label><br>
        <input type ="text"  size="35" placeholder="value">
      </div> 
      <br><br>
      <div style="float:left;margin-left: 165px;">
        <label for="securityquestion" style="margin-top: 40px;">SecurityQuestion</label>
        <br>
        <input type ="text" size="95"placeholder="value">
  
        
      </div>
      
      <div style="float:left;margin-left: 200px;">
        <label for="answer" style="margin-top: 20px;">Answer*</label><br>
        <input type ="text" size="35"placeholder="value">
      </div>
<br><br><br>
      <div style="float:left;margin-left:580px;"><br>
          <label for="enter" style="margin-top: 25px;">Enter the text you see in the image below</label><br>
          <input type="text" size="35" placeholder="CAPTCHA">
    
      <br><br>

      <div style="margin-left:1px;position:relative;bottom:55px;"><br><br>

          <input type="text" size="35"  placeholder="value">
      </div>
      </div>
      <br>
      <div style="position:relative;top:280px;right:680px;margin-top: 30px; ">
      <button style="background-color:blue;color:white;padding:3px;width: 90px;
      " >Register</button>
      </div>
      <p style="position:relative;top:300px;right:700px;">Already a User?<b>Login</b></p>

      <div style="clear:left">
</div>
<div style="clear:left">
</div>